* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url(img/14.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


#title {
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: rgb(40, 41, 39);
    background: rgba(166, 168, 165, 0.55);
    font-family: 'Libre Franklin', sans-serif;
    color: #333;
}

.questions {
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    background: #555;
    cursor: default;
    border-radius: 1rem;
    width: 600px;
    color: #ddd;
}

#question {
    margin-bottom: 1rem;
}

.answerBank {
    margin-top: 20px;
        
}


.option {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem rgb(139, 183, 190);
    width: 15rem;
    background: rgb(201, 106, 11);
    border-radius: 1rem;
}

.option:hover {
    color: rgb(39, 38, 38);
}

ol {
    position: relative;
    padding: 0 1.5rem;
    color: rgb(212, 209, 209);
}

span {
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}



#stat {
    margin-top: 1.5rem;
    color: rgb(255, 255, 255);
}

.buttons {
    text-align: center;
}

button {
    padding: 0.2rem 1.5rem;
    border: none;
    outline: none;
    font-size: 25px;
    border-radius: 15px;
    color: rgba(54, 53, 54, 0.98);
    background: rgb(255, 175, 1);
    cursor: pointer;
}

button:active {
    background: lavender;
}

#scoreboard,
#answerBank {
    width: 20rem;
    background: rgba(230, 230, 250, 0.77);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}

#score-title {
    margin: 1rem 0;
}

#score-btn,
#check-answer {
    margin-top: 1rem;
}

#score {
    font-size: 25px;
}

#answerBank li {
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}

#answers {
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    color: #333;

}